# see https://symfony.com/doc/current/reference/configuration/framework.yaml
framework:
    secret: '%env(APP_SECRET)%'
    #csrf_protection: true

    session: 
        enabled: true
        handler_id: null

    #esi: true
    #fragments: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
